@import 'bootstrap/dist/css/bootstrap.min.css';


.container,
.container-fluid {
    --bs-gutter-x: 0 !important;
}

.navbar-fixed-transparent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.3); /* bianco trasparente */
  backdrop-filter: blur(6px); /* effetto vetro */
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.228);
}

html {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.text-2xl {
  font-size: 2rem;
  font-weight: bold;
  color:white;
  align-self: center;
  justify-content: center;
  margin-top: 380px;
  
}